@for $i from 1 through $countBulb {
  @keyframes bulb-on_#{$i} {
    $randomValue: random(90);
    $leftValue: calc(#{$randomValue} * 1vw + 50px);

    0% {
      top: random(90) + vh;
      left: $leftValue;
    }
  }
}

// Animation change color (lamp off)